<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1 class='text-center'>Easy Share </h1>
    </div>
    <p class="text-center">
      Easy Share: One stop for all your social media sharing. Increase online presence through our web application.
      Facebook Share, Facebook messanger and Tweeter tweets are currently supported social media plugins.
<br>
<br>
This is a Test Website. Features not completed.
    </p>
  </div>
  {{#if currentUser}}

  {{else}}
  <div class="text-center">
    <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
    <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Register</a>
  </div>
  {{/if}}
  {{#if currentUser}}
<p class='text-center'>
{{> shareit shareData}}

</p>
{{/if}}
</template>
